/*公共css部分*/

* {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: "微软雅黑", arial, 'Microsoft YaHei';
	font-size: 14px;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	border-style: none;
	outline: none;
	text-align: left;
}

.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}

.clearfix {
	zoom: 1;
}

img {
	border-style: none;
}

input,
img {
	vertical-align: middle;
}

a {
	color: #999;
	text-decoration: none;
	border: 0;
	outline: none;
}

table {
	border-collapse: collapse;
	/*为表格设置合并边框模型*/
	border-spacing: 0;
}

textarea {
	resize: none;
}


/*禁止在ios中调整字体大小*/

body {
	-webkit-text-size-adjust: 100%!important;
}
html,body{
	height: 100%;
	width: 100%;
}

/*工作部分css*/

.warp {
	margin: 0 auto;
	height: 100%;
	max-width: 1200px;
	min-width: 320px;
	box-sizing: border-box;
	padding-top: 80px;
}
.top_title{
	height: 80px;
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	box-sizing: border-box;
	
}
.top_title_center{
	max-width: 1200px;
	margin: 0 auto;
	height: 80px;
	
}
.logo{
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}
.logo_name{
	font-size: 20px;
	margin-left: 20px;
}
.Navigation{
	float: right;
	margin-right: 20px;
	margin-top: 22px;
}
.Navigation_li{
	padding: 0 15px;
	color: #a4a4a4;
	font-size: 14px;
	float: left;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	font-weight: 600;
}
.Navigation_li.current{
	color: #333;
}
.Content_area{
	padding-right: 50px;
	height: 100%;
	position: relative;
}
.icon_list{
	float: left;
	width: 33.33333%;
	text-align: center;
	margin-top: 10%;
	cursor: pointer;
	
}
.ring{
	display: inline-block;
	width: 210px;
	height: 210px;
	background: cover;
	position: relative;
}
.ring_img{
	position: absolute;
	background: transparent;
	left: 0;
	top: 0;
	
}
.ring_img_1{
	animation:myfirst1 4s infinite linear;
}
.ring_img_2{
	animation:myfirst2 4s infinite linear;
}
.ring_img_3{
	animation:myfirst3 2s infinite linear;
}
.ring_img_4{
	animation:myfirst2 6s infinite linear;
}
.ring_img_5{
	animation:myfirst3 3s infinite linear;
}
.ring_img_6{
	animation:myfirst1 3s infinite linear;
}
.ring_icon img{
	width: 100%;
	transition:all 1s; 
}
.ring_icon img:hover{
	transform:scale(1.1) rotate(360deg); 
}
@keyframes myfirst1
{
	0%   {transform: rotateZ(0deg);}
	25%  {transform: rotateZ(-85deg);}
	50%  {transform: rotateZ(85deg);}
	75%  {transform: rotateZ(-100deg);}
	100% {transform: rotateZ(360deg);}
}
@keyframes myfirst2
{
	0%   {transform: rotateZ(0deg);}
	25%  {transform: rotateZ(-105deg);}
	50%  {transform: rotateZ(25deg);}
	75%  {transform: rotateZ(-200deg);}
	100% {transform: rotateZ(0deg);}
}
@keyframes myfirst3
{
	0%   {transform: rotateZ(0deg);}
	50%  {transform: rotateZ(125deg);}
	100% {transform: rotateZ(360deg);}
}
.ring_icon{
	width: 130px;
	height: 130px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -65px;
	margin-top: -65px;
}
.ring_text{
	width: 210px;
	line-height: 30px;
	font-size: 16px;
	font-weight: 600;
	color: #333;
	margin: 0 auto;
	height: 30px;
	text-align: left;
	
}

.nav_bar{
	width: 50px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}
.nav_bar_son{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -85px;
	width: 50px;
	text-align: center;
}
.arr{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #ccc;
	color: #ccc;
	display: inline-block;
	border-radius:50% ;
	cursor: pointer;
	margin: 20px auto;
}
.nav_bar_son>.arr1{
	line-height: 24px;
}
.nav_bar_son>.arr2{
	line-height: 34px;
}
.arr:hover{
	color: #333333;
	border: 1px solid #333333;
}

/*弹出框*/
.fixed{
	width: 100%;
	height: 100%;
	background: #333333;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0.5;
	z-index: 11;
	display: none;
}

.img__big_warp{
	width: 96%;
	height: 80%;
	margin: 0 auto;
	background: #fff;
	position: fixed;
	left: 2%;
	top: 10%;
	overflow: auto;
	z-index: 12;
	border-radius: 10px;
	display: none;
	-webkit-overflow-scrolling: touch;
}
.fixed_close{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	position: fixed;
	right: 5%;
	top: 5%;
	color: #fff;
	z-index: 14;
	background: url(../img/close.png) no-repeat;
	background-size:cover;
	font-size: 80px;
}
.img__big_warp img{
	width: 100%;
}
@media only screen and (min-width: 414px) and (max-width: 700px) {
	.icon_list{
		width: 50%;
		margin-top: 5px;
	}
	.ring{
		width: 130px;
		height: 130px;
	}
	.ring_img{
		width: 100%;
	}
	.ring_icon{
		width: 80px;
		height: 80px;
		margin-left: -40px;
		margin-top: -40px;
	}
	.ring_text{
		width: 130px;
		text-align: center;
	}
	.Content_area{
		padding-right: 0;
	}
	.nav_bar{
		display: none;
	}
	.fixed_close{
		width: 30px;
		height: 30px;
	}
}
@media only screen and (min-width: 415px) and (max-width: 700px) {
	.icon_list{
		width: 50%;
		margin-top: 5px;
	}
	.ring{
		width: 130px;
		height: 130px;
	}
	.ring_img{
		width: 100%;
	}
	.ring_icon{
		width: 80px;
		height: 80px;
		margin-left: -40px;
		margin-top: -40px;
	}
	.ring_text{
		width: 130px;
		text-align: center;
	}
	.Content_area{
		padding-right: 0;
	}
	.nav_bar{
		display: none;
	}
	.fixed_close{
		width: 30px;
		height: 30px;
	}
}
@media only screen and (min-width: 320px) and (max-width:414px) {
	.icon_list{
		width: 50%;
		margin-top: 8%;
	}
	.ring{
		width: 100px;
		height: 100px;
	}
	.ring_img{
		width: 100%;
	}
	.ring_icon{
		width: 60px;
		height: 60px;
		margin-left: -30px;
		margin-top: -30px;
	}
	.ring_text{
		width: 100px;
		text-align: center;
	}
	.Content_area{
		padding-right: 0;
	}
	.nav_bar{
		display: none;
	}
	.fixed_close{
		width: 30px;
		height: 30px;
	}
}

/*简历部分*/
.bird_warp{
	width:288px;
	height:190px;
	background: url(../img/bird.png) no-repeat;
	background-size:cover ;
	float: left;
	padding-top: 50px;
	box-sizing: border-box;
	margin-left: 13%;
	margin-top: 10%;
}
.conect_text{
	margin-left: 50px;
	margin-top: 34px;
	color: #ffbe00;
	font-size: 20px;
}
.conect_text_1{
	margin-left: 50px;
}
.conect_num{
	color: #ffbe00;
	font-size: 20px;
}
.banner_warp{
	width: 38%;
	float: right;
	border: 1px solid #ccc;
	position: relative;
	margin-right: 10%;
	box-sizing: border-box;
}
._icon{
	width: 21px;
	height: 21px;
	float: left;
	margin-top: 4px;
	margin-right: 20px;
	background: url(../img/little.png) no-repeat;
}
._icon_1{
	background-position:0 0;
}
._icon_2{
	background-position:0 -21px ;
}
._icon_3{
	background-position:0 -42px ;
}
._icon_4{
	background-position:0 -63px ;
}
._icon_5{
	background-position:0 -84px ;
}
._icon_6{
	background-position:0 -105px ;
}
._icon_7{
	background-position:0 -126px ;
}
._icon_8{
	background-position:0 -147px ;
}
.resume_list_line{
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	font-size: 16px;
	cursor: pointer;
	text-align: left;
}
.top_info{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
}
.resume_list{
	padding: 20px;
	width: 100%;
}
.resume_warp{
	padding: 20px;
	width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 810px) {
	.banner_warp{
		width: 90%;
		margin-right: 5%;
	}
	.bird_warp{
		float: none;
		margin: 0 auto;
		width: 144px;
		height: 95px;
		padding-top: 35px;
	}
	.wave{
		display: none;
	}
	.resume_list_line{
		margin-top: 10px;
	}
	.conect_text, .conect_num{
		margin-left: 0;
		margin-top: 0;
		font-size: 13px;
		text-align: center;
	}
	.conect_text_1{
		margin-left: 0;
		text-align: center;
	}
	
}
.arr_left,.arr_right{
	position: absolute;
    top: 50%;
    margin-top: -15px;
    background: #fff;
    cursor: pointer;
}
.arr_right{
	right: -15px;
}
.arr_left{
	left: -15px;
}

.wave{
	position: fixed;
	left: 28%;
	bottom: 40%;
	z-index: 13;
}
.work_list{
	margin-top: 15px;
}
.work_list>h2{
	font-size: 18px;
}
.work_title_img{
	margin-right: 15px;
}
.working_time{
	color: #666;
	padding-left:27px;
	margin-top: 10px;
	font-size: 16px;
}
.work_con{
	font-size: 14px;
	margin-top: 10px;
}
.work_list_warp{
	max-height:300px;
	overflow: auto;
	-webkit-overflow-scrolling:touch ;
}
.Skills_warp{
	text-align: center;
}
.Skills{
	width:54px;
	height:54px;
	display: inline-block;
	border-radius: 50%;
	background: #f9c029;
	text-align: center;
	line-height: 54px;
	font-weight: 600;
	margin: 10px 2%;
}
.Skills_2{
	background: #f5994e;
}
.Skills_3{
	background: #f0865f;
}
.Skills_4{
	background: #e6736c;
}




















